.row{
  text-align: center;
  margin: 0 auto;
}
.validate{
  text-align: center;
  margin: 0 auto;
}
.col s12{
  text-align: center;
  margin: 0 auto;
}
.input-field col s6{
  text-align: center;
  margin: 0 auto;
}
