.example-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.example-container > * {
  width: 100%;
  height: 100%;
}

.registration {
  display: flex;
  flex-direction: column;
  margin-left: 25%;
  margin-top: 5%;
  width: 50%;
  height: 40%;
  float: left;
}

.example-card {
  padding: 0;
}
.mat-card-content {
  color: #3f51b5;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
}

.mat-form-field-wrapper {
  color: #3f51b5;
}

.mat-card-header {
  background-color: #3f51b5;
  color: white;
  width: 100%;
  height: 70px;
}

.mat-form-field {
  color: #3f51b5;
}

.mat-input {
  color: #E8EAF6;
}

.mat-card-title {
  color: #3f51b5;
  color: white;
  margin-top: 24px;
}

.input {
  color: #3f51b5;
}

.mat-card-actions {
  padding-left: 23px;
  padding-right: 16px;
  padding-bottom: 0 !important;
  margin-bottom: 20px !important;

}

.button {
  color: #9FA8DA;
}
