.lst {
  display: flex;
  /*flex-direction: column;*/
  /*margin-left: 30%;*/
  /*!*margin-top: 1%;*!*/
  /*margin-right: 30%;*/
  float: left;
  height: 100%;
  width: 150px;
}

.example-spacer {
  flex: 1 1 auto;
}

.listItem {
  width: 100%;
}

.mat-list {
  width: 100%;
}

.confirmButton {
  margin-top: 16px;
  margin-bottom: 16px;
}

.empty {
  font-size: 11pt !important;
}
