

<mat-toolbar color="primary">

  <button type="button" area-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="purple-green">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Big Apple</span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav  mode="side" closed #drawer >
    <mat-toolbar color="primary">
    </mat-toolbar>
    <mat-nav-list>
      <button mat-raised-button color="primary">Finish</button>
      <a mat-list-item href="#">Link</a>
      <a mat-list-item href="#">Link</a>
      <a mat-list-item href="#">Link</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>

    <mat-list role="list" >
      <mat-list-item role="listitem" *ngFor="let obj of menu">


        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title>{{obj.name}}</mat-card-title>
            <mat-card-subtitle>Here will locate category</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            {{obj.id}}
            {{obj.cost}}
          </mat-card-content>
          <mat-card-actions>
          </mat-card-actions>
        </mat-card>


      </mat-list-item>
    </mat-list>





  </mat-sidenav-content>
</mat-sidenav-container>

