

<mat-toolbar color="primary">

  <button type="button" area-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="purple-green">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>Big Apple</span>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav  mode="side" closed #drawer >
    <mat-toolbar color="primary">
    </mat-toolbar>
    <mat-nav-list>
      <button mat-raised-button color="primary">Edit</button>
      <a mat-list-item href="#">Link</a>
      <a mat-list-item href="#">Link</a>
      <a mat-list-item href="#">Link</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


    <mat-list role="list">
      <mat-accordion>
      <mat-list-item role="listitem" *ngFor="let obj of orders">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{obj.id}} {{obj.dishes}}
              </mat-panel-title>
              <mat-panel-description>
              </mat-panel-description>
            </mat-expansion-panel-header>
              {{obj.dishes}} {{obj.date}} {{obj.user}}
          </mat-expansion-panel>
      </mat-list-item>
      </mat-accordion>
    </mat-list>





  </mat-sidenav-content>
</mat-sidenav-container>

