<mat-accordion>
  <mat-expansion-panel *ngFor="let obj of orders"
                       (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Заказ №{{obj.id}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    {{obj.cook}}
    <span class="example-spacer"></span>
    <mat-panel-description>
      <div>
        {{obj.description}}
      </div>
      <div>
        <button mat-flat-button *ngIf="this.flag" (click)="updateStatus(obj.id)" color="primary" routerLink="/kitchen">Chose</button>
      </div>
    </mat-panel-description>
  </mat-expansion-panel>
</mat-accordion>





